/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
a
{
    text-decoration: none;
}
body
{
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    background: #7D2AE8;
    margin-top: 15px;
}
.content
{
    background: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    display: flex;
}
.content .content-right
{
    background-color: #e3f2fd;
    width: 60%;
    padding: 30px;
    border-radius: 5px;
    
}
.content .content-left
{
    background-color: #e3f2fd;
    width: 40%;
    padding: 30px;
    border-radius: 5px;
    margin-left: 10px;
}
.menu li
{
    margin: 0 15px;
    font-size: 18px;
}
.content .btn a
{
    color: #fff;
    text-decoration: none;
}
.desc
{
    padding: 20px 15px;
}
.cont
{
    padding: 100px 15px;
}
label
{
    margin: 10px 0 10px 0;
    color: #000;
}
.container_title
{
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #000;
}
form
{
    background: #fff;
    width: 450px;
    padding: 30px;
    border-radius: 5px;
}
form header
{
    color: #7D2AE8;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 10px 0;
}
form .url_input
{
    margin: 30px 0;
}
.url_input .title
{
    font-size: 18px;
    color: #373737;
}
.url_input .field
{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    position: relative;
}
form .form-control
{
    height: 100%;
    width: 95%;
    border: none;
    background: #f1f1f7;
    font-size: 15px;
    padding: 15px 15px;
    outline: none;    
    font-family: 'Poppins', sans-serif;
}
.url_input .field .bottom_line
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #7D2AE8;
    transform: scale(0);
    transition: transform 0.3s ease-out;

}
.url_input .field input:focus ~ .bottom_line,
.url_input .field input:valid ~ .bottom_line
{
    transform: scale(1);
}
form .preview-area
{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 2px dashed #7D2AE8; 
}
.preview-area.active
{
    border: none;
}
.preview-area .thumbnail
{
    width: 100%;
    border-radius: 5px;
    display: none;
}
.preview-area.active .thumbnail
{
    display: block;
}
.preview-area .fas
{
    color: #7D2AE8;
    font-size: 80px;
}
.preview-area span
{
    color: #7D2AE8;
    margin-top: 20px;
}
.preview-area.active .fas,
.preview-area.active span
{
    display: none;
}
form button
{
    height: 53px;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: #7D2AE8;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover
{
    background: #8b42eb;
    cursor: pointer;
}
.d-flexs
{
    position: relative;
}
.d-flexs #eyeicon
{
    position: absolute;
    top: 25%;
    right: 10px;
    cursor: pointer;
}
.error
{
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
    color: #58151c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.message 
{
    
    color: #58151c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.green 
{
    background-color: #d1e7dd;
    border: 1px solid #a3cfbb;
    color: #0a3622;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
form .form-select
{
    width: 150px;
    margin-right: 10px;
    font-size: 15px;
    padding: 15px 15px;
    outline: none;  
    border: none;  
    font-family: 'Poppins', sans-serif;
}
/* form .download-btn
{
    height: 53px;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    background: #7D2AE8;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    cursor: pointer;
} */
